{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}

<!-- i-chevron down-->
<script>
      // jQuery(document).ready(function() {       
      //    // initiate layout and plugins
      //    var el = $('.icon-chevron-down').parents(".widget").children(".widget-body");
      //    $('.icon-chevron-down').removeClass("icon-chevron-down").addClass("icon-chevron-up");
      //    el.slideUp(1);

      //    App.init();
         
      // });
   </script>

<!-- end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/3.2.5/angular-file-upload-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/3.2.5/angular-file-upload.min.js"></script>
<script src="{% static 'js/angular/store/custom.js' %}"></script>
{% endblock %}
{% block content %}
<div ng-app="store">
  <div id="wrapper" ng-controller="ItemMasterListController">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-globe"></i>Add Item</h4>
          </div>
          <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
              <button class="close" data-dismiss="alert"></button>
              {[{alert_success}]}
          </div>
          <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
          </div>
          <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal">
            <div style="margin-left:0px;">
              <table class="tk table table-condensed table-striped no-margin" style="border:0px;">
               <tr>
                  <td><label class="control-label">Item Code*</label></td>
                  <td><input type="text" class="span6" ng-model="item_code" autofocus/></td>
                  <td></td>
                  <td><label class="control-label">Image</label></td>
                  <td>
                    <!-- <input type="file" name="imgfile" ng-model="item_code"/> -->
                    <input type="file" ng-file-select="onFileSelect($files)" multiple>
                  </td>
               </tr>
               <tr>
                <td></td>
                <td>
                  <span><label class="error" ng-if="item_code_error">{[{item_code_error}]}</label></span> 
                </td>
                <td></td>
                <td></td>
                <td>
                  <span><label class="error" ng-if="itemgroup_code_error">{[{itemgroup_code_error}]}</label></span> 
                </td>
               </tr>
               <tr>
                  <td><label class="control-label">Item Short Name*</label></td>
                  <td style="width:600px;"><input type="text" class="span10" ng-model="item_short_code"/></td>
               </tr>
               <tr>
                  <td></td>
                  <td>
                    <span><label class="error" ng-if="item_short_code_error">{[{item_short_code_error}]}</label></span> 
                  </td>
               </tr>
               <tr>
                  <td><label class="control-label">Item Name*</label></td>
                  <td style="width:600px;"><input type="text" class="span12" ng-model="item_name"/></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
               <tr>
                  <td></td>
                  <td>
                    <span><label class="error" ng-if="item_name_error">{[{item_name_error}]}</label></span> 
                  </td>
               </tr>
               <tr>
                  <td><label class="control-label">Brand*</label></td>
                  <td>
                      <select class="span12" ng-model="brand_id"
                        ng-options="brand.pk as brand.fields.brand_name for brand in brands" autofocus ></select>
                  </td>
                  <td></td>
                  <td><label class="control-label">Size</label></td>
                  <td>
                    <select class="span12" ng-model="size_id"
                        ng-options="size.pk as size.fields.size_name for size in sizes" autofocus >
                    </select>
                  </td>
               </tr>
               <tr>
                  <td></td>
                  <td>
                    <span><label class="error" ng-if="brand_id_error">{[{brand_id_error}]}</label></span> 
                  </td>
               </tr>
               <tr>
                  <td><label class="control-label">Unit*</label></td>
                  <td>
                    <select class="span12" ng-model="unit_id"
                        ng-options="unit.pk as unit.fields.unit_name for unit in units" autofocus >
                    </select>
                  </td>
                  <td></td>
                  <td><label class="control-label">Pattern</label></td>
                  <td>
                    <select class="span12" ng-model="pattern_id"
                        ng-options="pattern.pk as pattern.fields.pattern_name for pattern in patterns" autofocus >
                    </select>
                  </td>
               </tr>
               <tr>
                  <td></td>
                  <td>
                    <span><label class="error" ng-if="unit_id_error">{[{unit_id_error}]}</label></span> 
                  </td>
               </tr>
               <tr>
                  <td><label class="control-label">Group*</label></td>
                  <td>
                    <select class="span12" ng-model="itemgroup_id" ng-change="get_data_on_itemgroup_change(itemgroup_id)"
                        ng-options="itemgroup.pk as itemgroup.fields.itemgroup_name for itemgroup in itemgroups" autofocus >
                    </select>
                  </td>
                  <td></td>
                  <td><label class="control-label">Sub Group</label></td>
                  <td>
                    <select class="span12" ng-model="item_subgroup_id"
                        ng-options="itemsubgroup.pk as itemsubgroup.fields.item_subgroup_name for itemsubgroup in itemsubgroups" autofocus >
                    </select>
                  </td>
               </tr>
               <tr>
                  <td></td>
                  <td>
                    <span><label class="error" ng-if="itemgroup_id_error">{[{itemgroup_id_error}]}</label></span> 
                  </td>
               </tr>
                <tr>
                  <td><label class="control-label">Re-Order Level</label></td>
                  <td><input type="text" class="span12" ng-model="reorder_level"/></td>
                  <td></td>
                  <td><input type="checkbox" ng-model="is_active"/>Is Active</td>
                  <td></td>
               </tr>
               <tr>
                  <td><label class="control-label">Purchase Account</label></td>
                  <td>
                    <select class="span12" ng-model="purchaseaccount_id"
                        ng-options="corporateaccount.pk as corporateaccount.fields.corporatehead_name for corporateaccount in corporateaccounts" autofocus >
                    </select>
                  </td>
                  <td></td>
               
                </tr>
               <tr>
                  <td><label class="control-label">Remarks</label></td>
                  <td><textarea class="span12" ng-model="remarks"></textarea></td>
                 
               </tr>
              </table>
                <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
                {% if request.privileges.ADD_PERMITTED %}
                <div class="form-actions" ng-show = "(!view_mode)">
                  <button type="submit" ng-click="save_item()"class="btn btn-success" id="frmsbt" style="margin-left:242px;">Save</button>
                  <button type="button" ng-click= "clear_form_fields()"class="btn">Clear</button>
                </div>
                {% else %}
                <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                  <button type="submit" ng-click="save_item()"class="btn btn-success" id="frmsbt" style="margin-left:242px;">Save</button>
                  <button type="button" ng-click= "clear_form_fields()"class="btn">Clear</button>
                </div>
                {% endif %}
            </form>
            <!-- END FORM-->           
         </div>
        </div>
        <!-- END SAMPLE FORM widget-->
      </div>
    </div>

    <div class="row-fluid">
      <div class="dividerr"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN MAILBOX PORTLET-->
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-user"></i>&nbsp;Edit/Delete</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="col-md-6">
            <div class="col-md-8 search pull-right input-group">
              <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search" type="search" ng-change="search()" /> 
              <!-- <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span> -->
            </div>
          </div>
          <div class="widget-body">
            <table class="table table-condensed table-striped table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:12%">
                    Item Code
                  </th>
                  <th  style="width:12%">
                   Item Short Name
                  </th>
                  <th class="hidden-phone" style="width:12%">
                   Item Name
                  </th>
                  <th class="hidden-phone" style="width:12%">
                   Main Group
                  </th>
                  <th class="hidden-phone" style="width:12%">
                   Sub Group
                  </th>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Edit
                  </th>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Delete
                  </th>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                       View
                  </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in items">
                  <td>
                    {[{x.fields.item_code}]}
                  </td>
                  <td>
                    {[{x.fields.item_short_code}]}
                  </td>
                  <td>
                    {[{x.fields.item_name}]}
                  </td>
                  <td>
                    {[{x.fields.itemgroup_id.fields.itemgroup_name}]}
                  </td>
                  <td>
                    {[{x.fields.item_subgroup_id.fields.item_subgroup_name}]}
                  </td>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-primary" ng-click="edit_item(x.pk)"><i class="icon-pencil icon-white"></i>Edit</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-danger" ng-click="delete_item(x.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                      <button class="btn btn-inverse" ng-click="view_item(x.pk)"><i class="icon-list icon-white"></i> View</button>
                  </td>
                  {% endif %}
                </tr>
                <tr ng-if="items.length==0">
                  <td colspan="7">No result found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12 pagination_div">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev list_pagination" ng-if="cur_page>1">
                    <a href="#"  ng-click="prePage()">
                      <i class="fa fa-chevron-left" ></i>
                    </a>
                  </li>
                  <li class="active list_pagination">
                    <a href="#">{[{ cur_page }]}</a>
                  </li>
                  <li class="next list_pagination" ng-if="cur_page<total">
                    <a href="#" ng-click="nextPage()">
                       <i class="fa fa-chevron-right" ></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dataTables_info noBorder">Goto Page <b>
                <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                <span class="padding10per">Showing <b>
                <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
              </div>
            </div>
          </div>
        </div>
          <!-- END MAILBOX PORTLET-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
