{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}
<script type="text/javascript">
   $( document ).ready(function() {
          setTimeout(function () {
            $("#alert_div1").hide();
              }, 3000);
      });
  
</script>

<script src="{% static 'js/angular/administration/custom.js' %}"></script>
{% endblock %}
{% block content %}
<div ng-app = "administration">
   <div id="wrapper" ng-controller="companyController">
      <div class="alert alert-info" style="margin-top:25px;">
         Welcome to <strong>KCA Admin Panel</strong>
      </div>
      <div class="widget">
         <div class="widget-title">
            <h4><i class="icon-group"></i> Add Company</h4>
         </div>
         {% if alert.success %}
         <div class="alert alert-success alert_div" id="alert_div1">
            <button class="close" data-dismiss="alert"></button>
            {{alert.success}}
         </div>
         {% elif alert.failed%}
         <div class="alert alert-danger alert_div" id ="alert_div1">
            <button class="close" data-dismiss="alert" ></button>
            {{alert.failed}}
         </div>
         {% endif %}
         <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form action="{% url 'administration_company' %}" method="post" enctype="multipart/form-data" class="form-horizontal" >
               {% csrf_token %} 
               <div style="margin-left:240px;">
                  <div class="control-group">
                     <label class="control-label">Company Name</label>
                     <div class="controls">
                        {{ form.company_name }}
                     </div>
                     <div class="controls">
                        {% if form.company_name.errors %}
                        <span><label class="error">{{form.company_name.errors.as_text}}</label></span> 
                        {% endif %}
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Address</label>
                     <div class="controls" style="margin-bottom:10px;margin-top:10px;">
                        {{ form.company_addressline1}}
                     </div>
                     <div class="controls" style="margin-bottom:10px">
                        {{ form.company_addressline2}}
                     </div>
                     <div class="controls" style="margin-bottom:10px">
                        {{ form.company_addressline3}}
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Phone</label>
                     <div class="controls">
                        {{ form.company_phone }}
                     </div>
                  </div>
                  <label class="label" style="margin:20px 0 20px 0;">Company Address in Reports</label>
                  <div class="control-group">
                     <label class="control-label">Address</label>
                     <div class="controls" style="margin-bottom:10px">
                        {{ form.company_rptaddrline1 }}
                     </div>
                     <div class="controls" style="margin-bottom:10px">
                        {{ form.company_rptaddrline2 }}
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label">Company Logo</label>
                     <div class="controls">
                        <!-- <input class="btn btn-primary" type="file"/> -->
                        {{ form.company_logo }}
                     </div>
                     <div class="controls">
                        {% if form.company_logo.errors %}
                        <span><label class="error">{{form.company_logo.errors.as_text}}</label></span> 
                        {% endif %}
                     </div>
                  </div>
               </div>
               <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
               <div class="form-actions">
                  {% if request.privileges.ADD_PERMITTED or request.privileges.EDIT_PERMITTED %}
                       <button type="submit" class="btn btn-success" id="frmsbt" style="margin-left:240px;">Save</button>
                       <button type="button" class="btn" ng-click="clearForm()">Clear</button>
                  {% endif %}
               </div>
            </form>
            <!-- END FORM-->           
         </div>
      </div>
   </div>
</div>

<!-- END SAMPLE FORM widget-->
{% endblock %}