{% extends "kca/layout.html" %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet" />
<link href="{% static 'assets/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
<!-- <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet" /> -->
<script type="text/javascript">
  $( document ).ready(function() {
        setTimeout(function () {
          $("#alert_div1").hide();
            }, 3000);
    });
   jQuery(document).ready(function() {
    $('.dp1').datepicker({format: 'dd/mm/yyyy'});
  });
</script>
<script src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>



<script src="{% static 'js/angular/administration/custom.js' %}"></script>

{% endblock %}
{% block content %}
<div ng-app = "administration">
  <div id="wrapper" ng-controller="financialyearController">
      <div class="alert alert-info" style="margin-top:25px;">
         Welcome to <strong>KCA Admin Panel</strong>
      </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-money"></i> Add Financial Year</h4>
          </div>
          <div class="alert alert-success alert_div" id="alert_div1" ng-if="alert_success">
              <button class="close" data-dismiss="alert"></button>
              {[{alert_success}]}
          </div>
          <div class="alert alert-danger alert_div" id ="alert_div1" ng-if="alert_failed">
            <button class="close" data-dismiss="alert" ></button>
            {[{alert_failed}]}
          </div>
          <div class="widget-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
              <div style="margin-left:240px;">
                <div class="control-group">
                  <label class="control-label">Fin Year Code</label>
                  <div class="controls">
                    <input type="text" class="span4 " id="fyc" ng-model="fyc" maxlength="10" autofocus/>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="fin_year_code_error">{[{fin_year_code_error}]}</label></span> 
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Start Date</label>
                  <div class="controls">
                    <!-- <input type="text" class="span4 " id="startdate" ng-model="startdate"/> -->
                    <input class="dp1 span4" type="text" data-provide="datepicker-inline" id="startdate" ng-model="startdate" n/><span class="add-on" style="margin-left:-17px;margin-top:3px;"><i class="icon-calendar"></i></span>   
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="startdate_error">{[{startdate_error}]}</label></span> 
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">End Date</label>
                  <div class="controls">
                    <input class="dp1 span4" type="text" data-provide="datepicker-inline" id="enddate" ng-model="enddate"/><span class="add-on" style="margin-left:-17px;margin-top:3px;"><i class="icon-calendar"></i></span>
                  </div>
                  <div class="controls">
                    <span><label class="error" ng-if="enddate_error">{[{enddate_error}]}</label></span> 
                  </div>
                </div>
              </div>
              <p style="margin-top:10px;color:#f00;text-align:center" id="errormsg"></p>
              {% if request.privileges.ADD_PERMITTED %}
              <div class="form-actions" ng-show = "(!view_mode)">
                <button type="submit" ng-click="save_financialyear()"class="btn btn-success" id="frmsbt" style="margin-left:242px;">Save</button>
                <button type="button" ng-click= "clear_form_fields()"class="btn">Clear</button>
              </div>
              {% else %}
              <div ng-show = "edit_mode && (!view_mode)" class="form-actions" >
                <button type="submit" ng-click="save_financialyear()"class="btn btn-success" id="frmsbt" style="margin-left:242px;">Save</button>
                <button type="button" ng-click= "clear_form_fields()"class="btn">Clear</button>
              </div>
              {% endif %}
            </form>
            <!-- END FORM-->
          </div>
        </div>
        <!-- END SAMPLE FORM widget-->
      </div>
    </div>

    <div class="row-fluid">
      <div class="dividerr"></div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN MAILBOX PORTLET-->
        <div class="widget">
          <div class="widget-title">
            <h4><i class="icon-user"></i>&nbsp;Manage Fin Year</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
          </div>
          <div class="col-md-6">
            <div class="col-md-8 search pull-right input-group">
              <input tabindex="1" class="form-control" ng-model="search_text" placeholder="Search Financial year code" type="search" ng-change="search()" /> 
              <!-- <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span> -->
            </div>
          </div>
          <div class="widget-body">
            <table class="table table-condensed table-striped table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:17%">
                    Fin Year Code
                  </th>
                  <th class="hidden-phone" style="width:12%">
                    Start Date
                  </th>
                  <th class="right-align-text hidden-phone" style="width:12%">
                    End Date
                  </th>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Edit
                  </th>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <th class="right-align-text hidden-phone" style="width:12%">
                    Delete
                  </th>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                    <th class="right-align-text hidden-phone" style="width:12%">
                       View
                    </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in financialyears">
                  <td>
                    {[{x.fields.fin_year_code}]}
                  </td>
                  <td>
                    {[{x.fields.starts_from}]}
                  </td>
                  <td class="hidden-phone">
                    {[{x.fields.starts_to}]}
                  </td>
                  {% if request.privileges.EDIT_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-primary" ng-click="edit_financialyear(x.pk)"><i class="icon-pencil icon-white"></i>Edit</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.DELETE_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                    <button class="btn btn-danger" ng-click="delete_financialyear(x.pk)"><i class="icon-remove icon-white"></i> Delete</button>
                  </td>
                  {% endif %}
                  {% if request.privileges.VIEW_PERMITTED %}
                  <td class="right-align-text hidden-phone">
                      <button class="btn btn-inverse" ng-click="view_financialyear(x.pk)"><i class="icon-list icon-white"></i> View</button>
                  </td>
                  {% endif %}
                </tr>
                <tr ng-if="financialyears.length==0">
                  <td colspan="7">No result found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12 pagination_div">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                  <li class="prev list_pagination" ng-if="cur_page>1">
                    <a href="#"  ng-click="prePage()">
                      <i class="fa fa-chevron-left" ></i>
                    </a>
                  </li>
                  <li class="active list_pagination">
                    <a href="#">{[{ cur_page }]}</a>
                  </li>
                  <li class="next list_pagination" ng-if="cur_page<total">
                    <a href="#" ng-click="nextPage()">
                       <i class="fa fa-chevron-right" ></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dataTables_info noBorder">Goto Page <b>
                <input type="text" class="bigText" ng-model="cur_page" ng-blur="genPage()" id="page_no" tabindex="3"> </b> of {[{ total }]} pages
                <span class="padding10per">Showing <b>
                <input type="text" class="bigText" ng-model="per_page" ng-blur="genRecords()" id="per_page" tabindex="2"> </b> records per page</span>
              </div>
            </div>
          </div>
        </div>
          <!-- END MAILBOX PORTLET-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
