.sidebar{
	/*height:100%!important;*/
    /*width:30%!important;*/
    float:left!important;
    margin-top:2%!important;
    /*position: fixed;*/
}


.content{
	/*height: 50%;*/
    /*float:left;*/
    /*margin-left:20%;*/
    /*margin-top:10%;*/
}

.footer{
	/*padding-top: 45%!important;*/
	position: fixed;
}

 .error{
    color:#FF0000;
}
.ul_bullet_remove{
list-style-type: none;
}

.pagination_div{
  line-height: 30px !important;
  padding-left: 20px !important;
  border-right: 0px !important;
  background-color: ghostwhite;
  height: 40px;
}

.padding10per{
    padding-left:10%;
}
.main_content{
    min-height: 900px!important;
}


